In [ ]:
df_1 = _deepnote_execute_sql('SELECT * \nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_1

,rank,finalWorth,category,personName,age,country,city,source,industries,selfMade,...,firstName,birthYear,birthMonth,birthDay,cpi_country,gdp_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country
0,1,211000,Fashion & Retail,Bernard Arnault & family,74,France,Paris,LVMH,Fashion & Retail,False,...,Bernard,1949,3,5,110.05,"$2,715,518,274,227",82.5,24.2,60.7,67059887
1,2,180000,Automotive,Elon Musk,51,United States,Austin,"Tesla, SpaceX",Automotive,True,...,Elon,1971,6,28,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
2,3,114000,Technology,Jeff Bezos,59,United States,Medina,Amazon,Technology,True,...,Jeff,1964,1,12,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
3,4,107000,Technology,Larry Ellison,78,United States,Lanai,Oracle,Technology,True,...,Larry,1944,8,17,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
4,5,106000,Finance & Investments,Warren Buffett,92,United States,Omaha,Berkshire Hathaway,Finance & Investments,True,...,Warren,1930,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,497,5300,Service,Gary Rollins,78,United States,Atlanta,Pest control,Service,False,...,Gary,1944,8,30,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
471,497,5300,Finance & Investments,Mark Walter,62,United States,Chicago,"Finance, asset management",Finance & Investments,True,...,Mark,1960,5,22,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
472,497,5300,Manufacturing,Ronald Wanek,81,United States,Saint Petersburg,Furniture,Manufacturing,True,...,Ronald,1941,5,19,117.24,"$21,427,700,000,000",78.5,9.6,36.6,328239523
473,497,5300,Food & Beverage,Erich Wesjohann & family,77,Germany,Visbek,Poultry genetics,Food & Beverage,True,...,Erich,1945,6,2,112.85,"$3,845,630,030,824",80.9,11.5,48.8,83132799
474,497,5300,Fashion & Retail,M.A. Yusuff Ali,67,United Arab Emirates,Abu Dhabi,Retail,Fashion & Retail,True,...,M.A.,1955,11,15,114.52,"$421,142,267,938",77.8,0.1,15.9,9770529

In [ ]:
df_2 = _deepnote_execute_sql('/*\n-- regular expression\nSELECT * FROM \'billionaires.csv\'\nWHERE country = \'France\'; --case sensitive\n*/\n\n/*\n-- countries starting with the letter F\nSELECT * FROM \'billionaires.csv\'\nWHERE country ILIKE \'F%\'; -- equivalent to REGEXP \'^f\' as in the video\n*/\n\n/*\n-- countries ending with the letter A\nSELECT * FROM \'billionaires.csv\'\nWHERE country ILIKE \'%A\'; -- equivalent to REGEXP \'A$\' as in the video\n*/\n\n/*\n-- countries starting with the letter F or C\nSELECT * FROM \'billionaires.csv\'\nWHERE country ILIKE \'F%\' OR country ILIKE \'C%\'; -- equivalent to REGEXP \'^f|^c\' as in the video\n*/\n\n-- countries starting with the letter C then have H or O \nSELECT * FROM \'billionaires.csv\'\nWHERE country ILIKE \'Ch%\' OR country ILIKE \'Co%\'; -- equivalent to REGEXP \'^c[ho]\' as in the video', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_2

,rank,finalWorth,category,personName,age,country,city,source,industries,selfMade,...,firstName,birthYear,birthMonth,birthDay,cpi_country,gdp_country,life_expectancy_country,tax_revenue_country_country,total_tax_rate_country,population_country
0,15,68000,Food & Beverage,Zhong Shanshan,68,China,Hangzhou,"Beverages, pharmaceuticals",Food & Beverage,True,...,Shanshan,1954,12,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
1,26,45000,Technology,Zhang Yiming,39,China,Beijing,TikTok,Technology,True,...,Yiming,1984,1,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
2,34,35300,Technology,Ma Huateng,51,China,Shenzhen,Internet media,Technology,True,...,Huateng,1971,10,29,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
3,38,33400,Automotive,Robin Zeng,54,China,Ningde,Batteries,Automotive,True,...,Robin,1969,1,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
4,45,30200,Technology,Colin Zheng Huang,43,China,Shanghai,E-commerce,Technology,True,...,Colin Zheng,1980,2,2,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,455,5600,Automotive,Wu Jianshu,59,China,Ningbo,Auto parts,Automotive,True,...,Jianshu,1964,1,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
71,466,5500,Manufacturing,Jiang Weiping & family,68,China,Chengdu,Chemicals,Manufacturing,True,...,Weiping,1955,3,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
72,466,5500,Diversified,Zhao Yan,56,China,Beijing,Biotech,Diversified,True,...,Yan,1967,1,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
73,486,5400,Diversified,Miao Hangen,58,China,Suzhou,"Textiles, petrochemicals",Diversified,True,...,Hangen,1965,1,1,125.08,"$19,910,000,000,000",77.0,9.4,59.2,1397715000
74,397,6400,Finance & Investments,Luis Carlos Sarmiento,90,Colombia,Bogota,Banking,Finance & Investments,True,...,Luis Carlos,1933,1,27,140.95,"$323,802,808,108",77.1,14.4,71.2,50339443

In [ ]:
df_3 = _deepnote_execute_sql('-- categorisation by high or low with a threshold - IF\nSELECT personName, finalWorth, \nIF (finalWorth < 10000, \'low\', \'high\') AS category -- to make the column name cleaner\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_3

                   personName  finalWorth category
0    Bernard Arnault & family      211000     high
1                   Elon Musk      180000     high
2                  Jeff Bezos      114000     high
3               Larry Ellison      107000     high
4              Warren Buffett      106000     high
..                        ...         ...      ...
470              Gary Rollins        5300      low
471               Mark Walter        5300      low
472              Ronald Wanek        5300      low
473  Erich Wesjohann & family        5300      low
474           M.A. Yusuff Ali        5300      low

[475 rows x 3 columns]

In [ ]:
df_4 = _deepnote_execute_sql('-- three categories - CASE\nSELECT personName, finalWorth,\nCASE\n    WHEN finalWorth < 10000 THEN \'low\'\n    WHEN finalWorth BETWEEN 10000 AND 30000 THEN \'medium\'\n    ELSE \'high\'\nEND\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_4

,personName,finalWorth,CASE WHEN ((finalWorth < 10000)) THEN ('low') WHEN ((finalWorth BETWEEN 10000 AND 30000)) THEN ('medium') ELSE 'high' END
0,Bernard Arnault & family,211000,high
1,Elon Musk,180000,high
2,Jeff Bezos,114000,high
3,Larry Ellison,107000,high
4,Warren Buffett,106000,high
...,...,...,...
470,Gary Rollins,5300,low
471,Mark Walter,5300,low
472,Ronald Wanek,5300,low
473,Erich Wesjohann & family,5300,low
474,M.A. Yusuff Ali,5300,low

SUBQUERY: a query inside another query

In [ ]:
df_5 = _deepnote_execute_sql('-- Subquery\n\n/*\n-- show average net worth\nSELECT AVG(finalWorth)\nFROM \'billionaires.csv\';\n*/\n\nSELECT personname, finalWorth,\n--nested query\n    (SELECT AVG(finalWorth) FROM \'billionaires.csv\')\nFROM \'billionaires.csv\';', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_5

,personName,finalWorth,"(SELECT avg(finalWorth) FROM ""billionaires.csv"")"
0,Bernard Arnault & family,211000,14821.894737
1,Elon Musk,180000,14821.894737
2,Jeff Bezos,114000,14821.894737
3,Larry Ellison,107000,14821.894737
4,Warren Buffett,106000,14821.894737
...,...,...,...
470,Gary Rollins,5300,14821.894737
471,Mark Walter,5300,14821.894737
472,Ronald Wanek,5300,14821.894737
473,Erich Wesjohann & family,5300,14821.894737
474,M.A. Yusuff Ali,5300,14821.894737

In [6]:
df_6 = _deepnote_execute_sql('-- bring in another csv or table\nSELECT * FROM \'geography.csv\'', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_6

    rank          Country_Name    Language      Continent
0      1                Mexico     Spanish  North America
1      2                 India       Hindi           Asia
2      3                 Spain     Spanish         Europe
3      4                 China     Chinese           Asia
4      5                Canada     English  North America
5      6               Germany      German         Europe
6      7               Andorra     Catalan         Europe
7      8              Portugal  Portuguese         Europe
8      9                 Nepal      Nepali           Asia
9     10           Switzerland      German         Europe
10    11               Belgium     Belgian         Europe
11    12               Austria    Austrian         Europe
12    13                 Japan    Japanese           Asia
13    14        United Kingdom     English         Europe
14    15             Australia     English        Oceania
15    16             Indonesia  Indonesian           Asia
16    17  United Arab Emirates      Arabic           Asia
17    18        Czech Republic       Czech         Europe
18    19                Sweden     Swedish         Europe
19    20              Thailand        Thai           Asia
20    21             Singapore       Malay           Asia
21    22               Nigeria     English         Africa
22    23                Israel      Hebrew           Asia
23    24                 Italy     Italian         Europe
24    25          South Africa     English         Africa
25    26                Brazil  Portuguese  South America
26    27              Malaysia       Malay           Asia
27    28           South Korea      Korean           Asia
28    29           New Zealand     English        Oceania
29    30           Philippines    Filipino           Asia
30    31                Norway   Norwegian         Europe
31    32                 Egypt      Arabic         Africa
32    33               Denmark      Danish         Europe
33    34              Colombia     Spanish  South America
34    35           Netherlands       Dutch         Europe
35    36                Poland      Polish         Europe
36    37               Ukraine   Ukrainian         Europe
37    38                Turkey     Turkish         Europe

In [14]:
df_7 = _deepnote_execute_sql('-- combine two tables / csv files - joins\n\n/*\n--inner join\nSELECT * FROM \'billionaires.csv\'\nINNER JOIN \'geography.csv\'\nON billionaires.country = geography.Country_Name;\n*/\n\n/*\n-- bit cleaner\n--inner join\nSELECT country, Continent, Language FROM \'billionaires.csv\'\nINNER JOIN \'geography.csv\'\nON billionaires.country = geography.Country_Name;\n*/\n\n/*\n--left join\nSELECT Distinct(country), Continent, Language FROM \'billionaires.csv\' -- remove duplicates\nLEFT JOIN \'geography.csv\'\nON billionaires.country = geography.Country_Name;\n*/\n\n/*\n--right join\nSELECT Distinct(country), Continent, Language FROM \'billionaires.csv\' -- remove duplicates\nRIGHT JOIN \'geography.csv\'\nON billionaires.country = geography.Country_Name;\n*/\n\n--right join - observe and test more\nSELECT Distinct(country), Country_Name, Continent, Language FROM \'billionaires.csv\' -- remove duplicates\nRIGHT JOIN \'geography.csv\'\nON billionaires.country = geography.Country_Name;', 'SQL_DEEPNOTE_DATAFRAME_SQL', audit_sql_comment='', sql_cache_mode='cache_disabled')
df_7

                 country          Country_Name      Continent    Language
0                 Mexico                Mexico  North America     Spanish
1                  India                 India           Asia       Hindi
2                  Spain                 Spain         Europe     Spanish
3                  China                 China           Asia     Chinese
4                 Canada                Canada  North America     English
5                Germany               Germany         Europe      German
6            Switzerland           Switzerland         Europe      German
7                Belgium               Belgium         Europe     Belgian
8                Austria               Austria         Europe    Austrian
9                  Japan                 Japan           Asia    Japanese
10        United Kingdom        United Kingdom         Europe     English
11             Australia             Australia        Oceania     English
12             Indonesia             Indonesia           Asia  Indonesian
13  United Arab Emirates  United Arab Emirates           Asia      Arabic
14        Czech Republic        Czech Republic         Europe       Czech
15                Sweden                Sweden         Europe     Swedish
16              Thailand              Thailand           Asia        Thai
17             Singapore             Singapore           Asia       Malay
18               Nigeria               Nigeria         Africa     English
19                Israel                Israel           Asia      Hebrew
20                 Italy                 Italy         Europe     Italian
21          South Africa          South Africa         Africa     English
22                Brazil                Brazil  South America  Portuguese
23              Malaysia              Malaysia           Asia       Malay
24           South Korea           South Korea           Asia      Korean
25           New Zealand           New Zealand        Oceania     English
26           Philippines           Philippines           Asia    Filipino
27                Norway                Norway         Europe   Norwegian
28                 Egypt                 Egypt         Africa      Arabic
29               Denmark               Denmark         Europe      Danish
30              Colombia              Colombia  South America     Spanish
31           Netherlands           Netherlands         Europe       Dutch
32                Poland                Poland         Europe      Polish
33               Ukraine               Ukraine         Europe   Ukrainian
34                Turkey                Turkey         Europe     Turkish
35                  None              Portugal         Europe  Portuguese
36                  None               Andorra         Europe     Catalan
37                  None                 Nepal           Asia      Nepali

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=a0ac54b7-9fc5-4506-a840-d0d87dd16e03' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>